<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.webwss.backend.mapper.UploadFileMapper">

    <resultMap id="BaseResultMap" type="cn.webwss.backend.domain.UploadFile">
            <id property="id" column="id" />
            <result property="fileHash" column="file_hash" />
            <result property="fileUrl" column="file_url" />
    </resultMap>

    <sql id="Base_Column_List">
        id,file_hash,file_url
    </sql>
</mapper>
